 
.heading {
    background-color: rgb(170, 177, 182);
width: 50%;
margin-left: 25%;
margin-bottom: 20px;
padding: 20px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

.mynav a {
    padding: 10px 20px;
    background-color: rgb(168, 243, 239);
    color:white;
}

.mynav a:hover {
    background-color:violet;
}

